@use "@angular/material" as mat;
@import "theme.scss";

@include mat.core();

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.big .mat-icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.big {
  font-size: large;
}

.column-currency {
  text-align: right !important;
  justify-content: flex-end !important;
}

.column-date {
  width: 92px;
}

.center {
  margin: 0 auto;
  width: fit-content;
}

.full-width {
  width: 100%;
}

// ANGULAR MATERIAL GLOBAL
.mat-form-field {
  width: 100%;
}

.mat-icon.inline-icon {
  width: 14px;
  height: 14px;
  font-size: 18px;
  margin: -2px;
  vertical-align: sub;
  overflow: visible;
}

.mat-icon-button.inline-button {
  width: 14px;
  height: 14px;
}
