@use "@angular/material" as mat;
@import "theme.scss";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

@include mat.legacy-core-theme($my-theme);
@include mat.legacy-button-theme($my-theme);
@include mat.all-legacy-component-themes($my-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.big .mat-icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.big {
  font-size: large;
}

.column-currency {
  text-align: right !important;
  justify-content: flex-end !important;
}

.column-date {
  width: 92px;
}

.center {
  margin: 0 auto;
  width: fit-content;
}

.full-width {
  width: 100%;
}

// ANGULAR MATERIAL GLOBAL
.mat-form-field {
  width: 100%;
}

.mat-icon.inline-icon {
  width: 14px;
  height: 14px;
  font-size: 18px;
  margin: -2px;
  vertical-align: sub;
  overflow: visible;
}

.mat-icon-button.inline-button {
  width: 14px;
  height: 14px;
}
