/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.big .mat-icon {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.big {
  font-size: large;
}

.column-currency {
  text-align: right !important;
  justify-content: flex-end !important;
}

.column-date {
  width: 92px;
}
