<form [formGroup]="addExpenseFormGroup">
  <mat-form-field>
    <mat-label>Montant</mat-label>
    <input matInput type="text" formControlName="amount" />
    <span matSuffix>€</span>
    <!-- <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
