<mat-card *ngIf="!loggedIn">
  <mat-card-content *ngIf="!loading">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Nom d'utilisateur</mat-label>
        <input formControlName="username" matInput required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input formControlName="password" type="password" matInput required />
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        (click)="login()"
        [disabled]="!loginForm.valid"
      >
        Connexion
      </button>
      <mat-error *ngIf="error">{{ error }}</mat-error>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="loading" class="flex-center">
    <mat-spinner diameter="50"></mat-spinner>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="loggedIn">
  <mat-card-content>
    <p>Vous êtes connecté en tant que {{ loggedUsername }}</p>
    <button mat-flat-button color="warn" (click)="logout()">Déconnexion</button>
  </mat-card-content>
</mat-card>
