:host {
    display: flex;
    justify-content: center;
}

.mat-card{
    width: 300px;
}

.mat-form-field{
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-flat-button{
    width: 100%;
}