:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mat-card {
  width: 300px;
  height: fit-content;
}

.mat-form-field {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-flat-button,
.mat-stroked-button,
.mat-button {
  margin-top: 8px;
  width: 100%;
}

.server-error {
  padding-top: 12px;
  font-size: 0.75em;
}
