.monthly-budget-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  h1 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .monthly-budget-container {
    flex-direction: column;
  }
}

.bottom-table-button {
  display: flex;
  justify-content: center;
  button {
    margin: 8px;
  }
}

app-monthly-budget-overview {
  align-self: center;
  min-width: 200px;
}
