<div class="monthly-budget-container">
  <div>
    <h1>Dépenses</h1>
    <table id="monthly-charges-table" mat-table [dataSource]="charges">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 250px">Libellé</th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name }}
        </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th
          mat-header-cell
          *matHeaderCellDef
          ngClass="column-currency"
          style="width: 100px"
        >
          Montant
        </th>
        <td mat-cell *matCellDef="let charge" ngClass="column-currency">
          {{ charge.amount | currency : "EUR" }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let charge">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editCharge(charge)">
              <mat-icon color="primary">edit</mat-icon>
              <span>Modifier</span>
            </button>
            <button mat-menu-item (click)="deleteCharge(charge)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="bottom-table-button">
      <button mat-mini-fab (click)="addCharge()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="monthly-income-container">
    <h1>Revenus</h1>
    <table id="expense-table" mat-table [dataSource]="incomes">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 250px">Libellé</th>
        <td mat-cell *matCellDef="let expense">{{ expense.name }}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th
          mat-header-cell
          *matHeaderCellDef
          ngClass="column-currency"
          style="width: 100px"
        >
          Montant
        </th>
        <td mat-cell *matCellDef="let income" ngClass="column-currency">
          {{ income.amount | currency : "EUR" }}
        </td>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let income">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editIncome(income)">
                <mat-icon color="primary">edit</mat-icon>
                <span>Modifier</span>
              </button>
              <button mat-menu-item (click)="deleteIncome(income)">
                <mat-icon color="warn">delete</mat-icon>
                <span>Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="bottom-table-button">
      <button mat-mini-fab (click)="addIncome()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
