<div class="monthly-budget-container">
  <div>
    <h1>Dépenses</h1>
    <table id="monthly-charges-table" mat-table [dataSource]="charges">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 250px">Libellé</th>
        <td mat-cell *matCellDef="let charge">
          {{ charge.name }}
        </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th
          mat-header-cell
          *matHeaderCellDef
          ngClass="column-currency"
          style="width: 100px"
        >
          Montant
        </th>
        <td mat-cell *matCellDef="let charge" ngClass="column-currency">
          {{ charge.amount | currency: "EUR" }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let charge">
          <button
            mat-icon-button
            (click)="beginEditCharge(charge)"
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteCharge(charge)"
            color="primary"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="!addChargeVisible" class="bottom-table-button">
      <button mat-mini-fab (click)="beginAddCharge()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <form [formGroup]="chargeFg" (submit)="saveCharge()">
      <mat-form-field>
        <mat-label>Libellé</mat-label>
        <input matInput formGroupName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Montant</mat-label>
        <input matInput type="number" formGroupName="amount" />
        <mat-error *ngIf="chargeFg.controls.amount.hasError('required')"
          >Requis</mat-error
        >
      </mat-form-field>
      <button mat-mini-fab type="submit" color="primary">
        <mat-icon>save</mat-icon>
      </button>
    </form>
  </div>
  <div class="monthly-income-container">
    <h1>Revenus</h1>
    <table id="expense-table" mat-table [dataSource]="incomes">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 250px">Libellé</th>
        <td mat-cell *matCellDef="let expense">{{ expense.name }}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th
          mat-header-cell
          *matHeaderCellDef
          ngClass="column-currency"
          style="width: 100px"
        >
          Montant
        </th>
        <td mat-cell *matCellDef="let income" ngClass="column-currency">
          {{ income.amount | currency: "EUR" }}
        </td>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let income">
            <button
              mat-icon-button
              (click)="beginEditIncome(income)"
              color="primary"
              [disabled]="editedIncome"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="deleteIncome(income)"
              color="primary"
              [disabled]="editedIncome"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
