<div>
  <button mat-icon-button (click)="monthPicker.previousMonth()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <app-month-picker #monthPicker [control]="month"></app-month-picker>
  <button mat-icon-button (click)="monthPicker.nextMonth()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="dataSource">
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef ngClass="column-date">Date</th>
    <td mat-cell *matCellDef="let expense">
      {{ expense.date | date: "shortDate" }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Libellé</th>
    <td mat-cell *matCellDef="let expense">{{ expense.name }}</td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th
      mat-header-cell
      *matHeaderCellDef
      ngClass="column-currency"
      style="width: 100px"
    >
      Montant
    </th>
    <td mat-cell *matCellDef="let expense" ngClass="column-currency">
      {{ expense.amount | currency: "EUR" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
