@use "@angular/material" as mat;

#expense-table {
  .mat-column-date {
    width: 120px;
  }
  .mat-column-name {
    width: 250px;
  }
  .mat-column-amount {
    width: 120px;
  }

  .mat-column-actions {
    width: 80px;
  }
}

#add-expense-form {
  padding-top: 8px;
  padding-left: 24px;
}

.bottom-table-button {
  display: flex;
  justify-content: center;
  button {
    margin: 8px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

td {
  .mat-form-field {
    margin-top: -4px;
    margin-bottom: -10px;
  }
}
.date-form-field {
  width: 120px;
}
.name-form-field {
  width: 250px;
}
.amount-form-field {
  width: 120px;
  text-align: right;
}
