<div class="flex-container">
  <div class="center">
    <app-month-navigator
      [control]="month"
      [max]="currentMonth"
    ></app-month-navigator>
  </div>
  <div class="hflex">
    <app-transaction-chart
      #transactionChart
      [month]="month.value.toDate()"
    ></app-transaction-chart>
    <div class="bottom-table-button">
      <button mat-mini-fab (click)="transactionTable.addExpense()" color="warn">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab (click)="transactionTable.addGain()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-transaction-table
      #transactionTable
      [month]="month.value.toDate()"
      (transactionChange)="transactionChart.refresh()"
    ></app-transaction-table>
  </div>
</div>
