@use "@angular/material" as mat;
@import "/src/theme";

#expense-table {
  .mat-column-date {
    width: 120px;
  }
  .mat-column-name {
    width: 250px;
  }
  .mat-column-amount {
    width: 120px;
  }

  .mat-column-actions {
    width: 80px;
  }

  .edited {
    background-color: mat.get-color-from-palette($accent, 100);
  }
}

#add-expense-form {
  padding-top: 24px;
  padding-left: 24px;

  .date-form-field {
    width: 120px;
  }

  .name-form-field {
    width: 250px;
  }

  .amount-form-field {
    width: 120px;
    text-align: right;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 24px;
  padding-left: 24px;
}
