<body>
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-button [routerLink]="['']" class="big" *ngIf="connected">
      <mat-icon>payment</mat-icon>
      Transactions
    </button>
    <button mat-button [routerLink]="['budget']" class="big" *ngIf="connected">
      <mat-icon>payment</mat-icon>
      Budget mensuel
    </button>
    <button mat-button [routerLink]="['/users']" class="big" *ngIf="connected">
      <mat-icon>account_circle</mat-icon>
      utilisateurs
    </button>
    <span class="menu-spacer"></span>
    <button mat-button [routerLink]="['/auth']" class="big" *ngIf="connected">
      <mat-icon>account_circle</mat-icon>
      {{ username }}
    </button>
  </mat-toolbar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</body>
