<body>
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-button [routerLink]="['']" class="big">
      <mat-icon>payment</mat-icon>
      Budget mensuel
    </button>
    <span class="menu-spacer"></span>
    <button mat-button [routerLink]="['/authentication']" class="big">
      <mat-icon>account_circle</mat-icon>
      {{ connected ? username : "Se connecter" }}
    </button>
  </mat-toolbar>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</body>
