mat-sidenav-container {
  height: calc(100vh - 64px);
}

@media (max-width: 600px) {
  mat-sidenav-container {
    height: calc(100vh - 56px);
  }
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  min-width: 250px;
}

.menu-text {
  margin-left: 4px;
  font-size: 20px;
}
