mat-sidenav-container {
  height: calc(100vh - 64px);
}

@media (max-width: 600px) {
  mat-sidenav-container {
    height: calc(100vh - 56px);
  }
}

.menu-spacer {
  flex: 1 1 auto;
}

.menu-text {
  margin-left: 4px;
  font-size: 20px;
}

.main-content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
